html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  // @extend %;
  // font-size: px;
  // line-height: px;
  // color: $default;
}

.container {
  max-width: 1770px;
  margin: 0 auto;
  padding: 0 15px;
}

.main {
  flex-grow: 1;
}

a {
  // @extend %;
  // font-size: px;
  // line-height: px;
  // color: $default;
  cursor: pointer;
}