// === COLORS ===
// $default: #585858;
// $title: #243f4d;
// $accent: #fe3e57;
// $white: #fff;
// $black: #000;
// $background: #f6f6f6;
// $line: #ececec;
// === / COLORS ===

// === TRANSITION ===
// $transition-fast: all 0.3s;
// === / TRANSITION ===

// === FONTS ===
%rubik-400 {
  font-family: "Rubik-Regular", sans-serif;
  font-weight: 400;
}

%rubik-500 {
  font-family: "Rubik-Medium", sans-serif;
  font-weight: 500;
}
// === / FONTS ===

// === BUTTONS ===
// %btn {
//   border: none;
//   padding: 12px 26px;
//   @extend %roboto-400;
//   text-transform: uppercase;
//   color: $white;
//   background-color: $accent;
//   box-shadow: 0px 7px 20px 0px rgba(255, 17, 48, 0.3);
//   cursor: pointer;
// }
// === / BUTTONS ===

// === HIDE CHECKBOX ===
// %hide-checkbox {
//   position: absolute;
//   overflow: hidden;
//   clip: rect(0 0 0 0);
//   width: 1px;
//   height: 1px;
// }
// === / HIDE CHECKBOX ===

// === snippet for "FancyBox" plugin ===
// @function max($numbers...) {
//   @return m#{a}x(#{$numbers});
// }
// @function min($numbers...) {
//   @return m#{i}n(#{$numbers});
// }
// === / snippet for "FancyBox" plugin ===