@import "variables";
@import "fonts";
@import "reset";
@import "libs";
@import "global";
// === PARTIALS ===

// === HEADER ===
.header {
  &__inner {
    height: 144px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__menu-list {
    display: flex;
  }

  &__list-item {
    & + & {
      margin-left: 35px;
    }
  }

  &__list-link {
    font-size: 15px;
    color: #436372;
  }

  &__right-side-buttons {
    display: flex;
  }

  &__search,
  &__shopping-buttons,
  &__dots {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 51px;
    height: 51px;
  }

  &__search {
    background-color: #edf1f4;
  }

  &__shopping-buttons {
    position: relative;
    margin-left: 20px;
    border-radius: 25px;
    width: 178px;
    background-color: #fcd7b6;

    &::after {
      content: "";
      position: absolute;
      top: 10px;
      left: 52%;
      width: 1px;
      height: 31px;
      background-color: #fde7d3;
    }
  }

  &__shopping-heart,
  &__shopping-cart {
    padding: 0 30px 0 40px;
  }

  &__shopping-num {
    position: absolute;
    top: 8px;
    right: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    @extend %dm-sans-400;
    font-size: 10px;
    line-height: 1;
    color: #243f4d;
    background-color: $white;

    &--cart {
      right: 109px;
    }
  }

  &__dots {
    margin-left: 20px;
    background-color: #a3bbc8;
  }
}

// === / HEADER ===

// === FOOTER ===
.footer {
  color: #7b7b7b;
}
.footer-top {
  padding: 80px 0;
  display: flex;
  justify-content: space-between;

  &__item {
    max-width: 240px;
  }

  &__logo {
    margin-bottom: 21px;
  }

  &__address {
    margin-bottom: 17px;
    line-height: 24px;
  }

  &__phone {
    margin-bottom: 22px;
  }

  &__navigation {
    max-width: 240px;
  }

  &__title {
    margin: 16px 0 30px 0;
    font-size: 16px;
    line-height: 21px;
    text-transform: uppercase;
    color: #1f2044;
  }

  &__list-item {
    margin-bottom: 15px;
  }

  &__item-form {
    max-width: 270px;
  }

  &__text {
    margin-bottom: 38px;
    line-height: 24px;
  }

  &__form-input {
    padding: 15px 10px;
    border: none;
    @extend %dm-sans-400;
    line-height: 1;
    font-size: 12px;
    background-color: #fef7f0;

    &::placeholder {
      @extend %dm-sans-400;
      font-size: 12px;
      color: #234969;
    }
  }

  &__form-button {
    margin-left: -4px;
    border: none;
    padding: 16px 14px;
    @extend %dm-sans-400;
    line-height: 1;
    color: $white;
    background-color: #a3bbc8;
  }
}

.footer-bottom {
  border-top: 1px solid #dae4e9;
  padding: 40px 0;
  display: flex;
  justify-content: space-between;

  &__menu-link {
    margin-right: 15px;
  }

  &__menu {
    margin-right: -13px;
    display: flex;
  }

  &__menu-item {
    & + & {
      border-left: 1px solid #7b7b7b;
      padding-left: 15px;
    }
  }
}
// === / FOOTER ===

// === ADAPTIVE ===
@import "media";
